.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  min-height: 100vh;
  background: linear-gradient(180deg, #009feb 0%, #ebebeb 100%);
  color: #fff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease;
  z-index: 2000;

  .app-title {
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    justify-content: center;
  }

  &.collapsed {
    width: 60px;

    .company-logo-container {
      display: none;
    }

    .app-title {
      display: none;
    }

    .menu {
      margin-top: 170px;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .menu-text {
        display: none;
      }
    }
  }

  .sidebar-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;

    .toggle-btn {
      background: none;
      border: none;
      color: #fff;
      font-size: 1.5rem;
      cursor: pointer;
      z-index: 1100;
    }
  }

  .company-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;

    .company-logo {
      width: 90px;
      height: 90px;
      border-radius: 50%;
    }
  }

  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    li {
      margin: 1.2rem 0;

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #000;
        font-size: 1rem;
        gap: 12px;
        padding: 8px;
        border-radius: 6px;
        transition: background 0.2s, color 0.2s;

        &:hover {
          color: #fff;
          background: rgba(0, 0, 0, 0.1);
        }

        svg {
          font-size: 1.3rem;
        }

        .menu-text {
          transition: opacity 0.3s;
        }
      }
    }
  }
}
